::content{
    width: 600;
    border: 10px;
    margin: auto;
    padding: 35px;
    background-color:palegreen;
    border-radius: 30px;
}

img{
    width: 1000px;
}

body{
    background-color: greenyellow;
}

h1{
    text-align: center;
}