#content{
    width: 600px;
    border: 10px solid;
    border-color: rgb(165, 108, 42);
    margin: auto;
    padding: 35px;
    background-color:rgb(48, 238, 0);
    border-radius: 30px;

}

img{
    width: 100%;
}

body{
    background-color: greenyellow;
}

h1{
    text-align: center;
}